<h1>show</h1>
<p>
  <strong>ServicetypeId:</strong>
  <%= @servicetypename.servicetypeId %>
</p>
 
<p>
  <strong>ServiceName:</strong>
  <%= @servicetypename.ServiceName %>
</p>
<p>
  <strong>ServiceType:</strong>
  <%= @servicetypename.ServiceType %>
</p>
 
<p>
  <strong>Servicedescription:</strong>
  <%= @servicetypename.Servicedescription %>
</p>
 <p>
  <strong>ServiceStatus:</strong>
  <%= @servicetypename.ServiceStatus %>
</p>

